body{
	background-color:#d6d6d6;
}

#myDiv{
	background: url(../image/contacts.png) no-repeat center/contain;
	margin-top:1vh;
	/* max-width:470px; */
	height:97vh;
	display:flex;
    flex-direction:column;
	justify-content: space-around;
}

.background{
	top: 30%;
}

.title{
	position: absolute;
	top:4%; 
    height:12vh;
	width:55vh;
	left:50%;
    Transform:translate(-50%);
	background: url(../image/comrads.png) no-repeat center/contain;
}

.contcts  {
    position: relative;  /*absolute*/
	margin-top:0vh;
    min-height: 15vh;
    min-width: 57vh;
    cursor:pointer;
	left:50%;
    Transform:translate(-50%);

}

#con1{
	position: absolute;
	top:15vh;
	background: url(../image/shalopay.png) no-repeat center/contain;
}

#con2{
	position:absolute;
    top:26vh;
	background: url(../image/Техник.png) no-repeat center/contain;
}
#con3{
	position:absolute;
    top:37vh;
	background: url(../image/Типоверстальщи.png) no-repeat center/contain;
}
#con4{
	position:absolute;
    top:48vh;
	background: url(../image/Витя.png) no-repeat center/contain;
}
#con5{
	position:absolute;
    top:59vh;
	background: url(../image/евстафий.png) no-repeat center/contain;
}
#con6{
	position:absolute;
    top:70vh;
	background: url(../image/Полякок.png) no-repeat center/contain;
	
}
#con7{
	position:absolute;
    top:84vh;
    min-height: 9vh;
    min-width: 10vh;
    Transform:translate(90%);
	background: url(../image/vk.png) no-repeat center/contain;
}
#con8{
	position:absolute;
    top:84vh;
    min-height: 9vh;
    min-width: 10vh;
    Transform:translate(-153%);
	background: url(../image/nazad.png) no-repeat center/contain;
}
#con9{
	position:absolute;
    top:84vh;
    min-height: 9vh;
    min-width: 10vh;
    Transform:translate(-30%);
	background: url(../image/inst.png) no-repeat center/contain;
}