body{
	background-color:#1721a3;
	text-align:center;

}
*{
	margin: 0;
	padding: 0;
}


header {
	position: fixed;
	top:-999px;
	width: 100%;
	height: 10vh;
	max-height:160px;
	background-color:#ffce50;
	/*text-align:center;*/
}


/*.BotClouds{*/
/*position:fixed;*/
/*width: 40vh;*/
/*max-width:500px;*/
/*max-height: 300px;*/
/*min-height: 200px;*/
/*min-width: 400px;*/
/*!* 	height: 40vh; *!*/
/*margin-left:-5%;*/
/*bottom:-4%;*/
/*background:url(images/obl4.png) no-repeat center/contain;*/
/*display: flex;*/
/*flex-direction: column;*/
/*}*/

/*.BotClouds{*/
/*position:fixed;*/
/*width: 100vw;*/
/*height: 100vh;*/
/*max-width: 1800px;*/
/*max-height: 2300px;*/
/*background:url(images/obl4.png) no-repeat center;*/
/*}*/
main{
	position: relative;
	width: 100vw;
	height: 100vh;
	/*display: flex;*/
	/*flex-flow: row wrap;*/
}

section{

	height: 100%;
	flex: 1;
	display: flex;
	/*flex-flow: c;*/
}
/*section*/

.orbits{
	position: absolute;
}
/*.down1{*/
/*height: auto;*/
/*align-self: flex-end;*/
/*}*/
/*.top1{*/
/*height: auto;*/
/*align-self: flex-start;*/
/*}*/


/*.CloudsAdapt{*/
/*margin: 0;*/
/*position: fixed;*/
/*width: 100vw;*/
/*height: 110vh;*/
/*!*max-width: 1800px;*!*/
/*max-width: 1800px;*/
/*!*max-height: 2300px;*!*/
/*max-height: 2300px;*/
/*!*bottom: -25%;*!*/
/*!*background:url(images/obl4.png) no-repeat center;*!*/
/*}*/

.down1{
	/*height: 100%;*/
	width:100%;
	/*left: -15%;*/
	/*bottom: -25%;*/
	/*Прописать как свойство для мобильного*/

	background:url(images/obl4.png) no-repeat center;
	background-position: 50% 70%;/*для есктопа*/
}
/*.top{*/
/**/
/*}*/

.top1 {
	height: 100%;
	width:100%;
	align-self: flex-start;
	/*top:-50%;*/
	/*right: -15%;*/
	background: url(images/obl32.png) no-repeat center/contain;
	/*background-position: 50vw -50vh;*/
	/*background-position: 20vw -5vh;!*для мобильного*!*/
	/*background-position: 20vw -50vh; !*для десктопа*!*/
}


/*.BottomClouds{
	width: 100vh;
    height: 100vh;
=======
	background-color:#ffce50;
	text-align:center;
}

.orbits{
	position:absolute;
	Transform:translate(40%);
	height:30vh;
	width:55vw;
	min-width:300px;
	margin-top:35vh;
	background:url(images/krugi.png) no-repeat center/contain;
		background-color:#000;

>>>>>>> f2f3dc037f4c2b1f7d5a09b7b2b5c624f98f9f0e
}

#planet1{
	position:absolute;
	Transform:translate(50%);
	height:8vh;
	width:14vw;
	max-width:150px;
	margin-top:10vh;
	background:url(images/pl1.png) no-repeat center/contain;

}
<<<<<<< HEAD
*/
/*=======*/
/* #c1 { */
/* position:absolute; */
/* width: 160px; */
/* height: 160px; */
/* margin-top:40vh; */
/* margin-left:37vw; */
/* border-radius: 40vh; */
/* background-color:#fff; */
/* left:40%; */
/* z-index:0; */
/* } */
/*>>>>>>> f2f3dc037f4c2b1f7d5a09b7b2b5c624f98f9f0e*/
