body{
	background-color:#1721a3;
	margin:0;
}
.header{
    position: fixed;
    width: 100%;
    height: 15vh;
    max-height:160px;
	background-color:#ffce50;
	text-align:center;
}

.orbits{
	position:absolute;
	Transform:translate(40%);
	height:30vh;
	width:55vw;
	min-width:300px;
	margin-top:35vh;
	background:url(images/krugi.png) no-repeat center/contain;
		background-color:#000;

}

#planet1{
	position:absolute;
	Transform:translate(50%);
	height:8vh;
	width:14vw;
	max-width:150px;
	margin-top:10vh;
	background:url(images/pl1.png) no-repeat center/contain;
	
}
/* #c1 { */
	/* position:absolute; */
	/* width: 160px; */
	/* height: 160px; */
	/* margin-top:40vh; */
	/* margin-left:37vw; */
	/* border-radius: 40vh; */
	/* background-color:#fff; */
	/* left:40%; */
	/* z-index:0; */
/* } */
