body{
	background-color:#651573;
	text-align:center;
}
*{
	margin: 0;
	padding: 0;
}

header {
	position: fixed;
	top:-999px;
	width: 100%;
	height: 10vh;
	max-height:160px;
	background-color:#ffce50;
	/*text-align:center;*/
}

main{
	position: relative;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-flow: row wrap;

}

section{
	height: 100%;

}

.center{
	display:flex;
	align-items:center;
	margin:0 auto;
	border-radius: 40vh;
}
.orbits{
	position: absolute;
	height:30%;
	width:60%;
	-webkit-transform:translate(50%, 50%);
	    -ms-transform:translate(50%, 50%);
	        transform:translate(50%, 50%);
	left:-12%;
	top: 20%;
	z-index:10;
}

.orb1{
	width: 400px;
	height: 400px;
	border: 4px solid white;
	position: relative;
}

.orb2{
	width: 270px;
	height: 270px;
	border: 4px solid white;
	position: relative;
}

#cat{
	position:absolute;
	margin:0 auto;
	width: 170px;
	height: 160px;
	left:20%;
	top:21%;
	cursor:pointer;
	background:url(images/sun.png) no-repeat center/contain;
	z-index:100;
}

.planet1{
	position: absolute;
	width: 80px;
	height: 80px;
	left:40%;
	top:40%;
	cursor:pointer;
	animation: movePlanet1 20s infinite linear;
	background:url(images/infoplanet.png) no-repeat center/contain;

}

.planet2{
	position: absolute;
	width: 75px;
	height: 75px;
	left:35%;
	top:40%;
	cursor:pointer;
	animation: movePlanet2 12s infinite linear;
	background:url(images/pl2.png) no-repeat center/contain;
}

.planet3{
	position: absolute;
	width: 70px;
	height: 70px;
	top:40%;
	left:35%;
	cursor:pointer;
	animation: movePlanet3 12s infinite linear;
	background:url(images/wikiplanet2.png) no-repeat center/contain;
}

#cat:hover{
	transform:scale(1.07);
}

.down1{
	position: fixed;
	height: 120%;
	width:120%;
	left:-3%;
	bottom:-13%;
	min-width:1100px;
	background:url(images/cloudBotDown.png) no-repeat center;
	background-position: -30px 22px;
	animation: moveBot 5s infinite ease-in-out alternate;
	animation-delay:1s;
	background-size:contain;
	z-index: 5;
}

.down2{
	position: fixed;
	height: 100%;
	width:100%;
	min-width:730px;
	left:-4%;
	bottom:-19%;
	background:url(images/cloudBotUp.png) no-repeat center;
	background-position: -30px 22px;
	animation: moveBot 4s infinite ease-in-out alternate;
	background-size:contain;
	z-index: 5;
}

.top1 {
	position: fixed;
	right:-10%;
	top:-10%;
	height: 110%;
	width: 110%;
	min-width:850px;
	background: url(images/cloudTopDown.png) no-repeat center/contain;
	background-position: 55vw -75px;
	animation: moveTop 5s infinite ease-in-out alternate;
	z-index: 1;
}

.top2 {
	position: fixed;
	right:-2%;
	top:-2%;
	height: 80%;
	width: 80%;
	min-width:700px;
	background: url(images/cloudTopUp.png) no-repeat center/contain;
	background-position: 55vw -75px;
	animation: moveTop 4s infinite ease-in-out alternate;
	z-index: 1;
}

