body{
	background-color:#1721a3;
    text-align:center;

}
*{
    margin: 0;
    padding: 0;
}


header {
    position: fixed;
	top:-999px;
    width: 100%;
    height: 10vh;
    max-height:160px;
	background-color:#ffce50;
	/*text-align:center;*/
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
	
}

section{
    height: 100%;
    flex: 1;
    display: flex;
    /*flex-flow: c;*/
	
}

.center{
	display:flex;
	align-items:center;
	margin: auto;
	border-radius: 40vh;
}

.orbits{
	/* display:flex; */
	/* align-items:center; */
    position: absolute;
	height:30%;
	width:60%;
	transform:translate(50%, 50%);
	left:-15%;
	top: 10%;
}

.orb1{
	/* display:flex; */
	/* align-items:center; */
	/* margin:0 auto; */
	width: 300px;
	height: 300px;
	/* border-radius: 40vh; */
	background-color:#fff;
}

.orb2{
	/* display:flex; */
	/* align-items:center; */
	/* margin: auto; */
	width: 290px;
	height: 290px;
	/* border-radius: 40vh; */
	background-color:#1721a3;
}
.orb3{
	/* display:flex; */
	/* align-items:center; */
	/* margin: auto; */
	width: 200px;
	height: 200px;
	/* border-radius: 40vh; */
	background-color:#fff;
}

.orb4{
	/* display:flex; */
	/* align-items:center; */
	/* margin: auto; */
	width: 190px;
	height: 190px;
	/* border-radius: 40vh; */
	background-color:#1721a3;
}
.cat{
	margin: auto;
	width: 110px;
	height: 110px;
	background:url(images/GO.png) no-repeat center/contain;
}

.down1{
    width:100%;
	/*ÐŸÑ€Ð¾Ð¿Ð¸ÑÐ°Ñ‚ÑŒ ÐºÐ°Ðº ÑÐ²Ð¾Ð¹ÑÑ‚Ð²Ð¾ Ð´Ð»Ñ Ð¼Ð¾Ð±Ð¸Ð»ÑŒÐ½Ð¾Ð³Ð¾*/

	background:url(images/obl4.png) no-repeat center;
	background-position: 50% 70%;/*Ð´Ð»Ñ Ð´ÐµÑÐºÑ‚Ð¾Ð¿Ð°*/
}

.top1 {
    height: 100%;
    width:100%;
    align-self: flex-start;
    /*top:-50%;*/
	/*right: -15%;*/
	background: url(images/obl32.png) no-repeat center/contain;
	/*background-position: 50vw -50vh;*/
/* <<<<<<< Clouds */
	/*background-position: 20vw -5vh;!*для мобильного*!*/
	/*background-position: 20vw -50vh; !*для десктопа*!*/
}

@media only screen
    /* and ( min-height:700px)  */
and (min-device-width: 320px)
and (max-device-width: 480px) {


}



/* ======= */
	/*background-position: 20vw -5vh;!*Ð´Ð»Ñ Ð¼Ð¾Ð±Ð¸Ð»ÑŒÐ½Ð¾Ð³Ð¾*!*/
	/*background-position: 20vw -50vh; !*Ð´Ð»Ñ Ð´ÐµÑÐºÑ‚Ð¾Ð¿Ð°*!*/}


/* >>>>>>> master */
