*{
	margin: 0;
	padding: 0;
	
}

a{
color:#9c9cde;
text-decoration: none;	
}
a:visited{
	color:#9c9cde;
}

main{
	width:100vw;
	height:100vh;
	display:flex;
}
   
#infoPage{
	position:relative;
	height:42vw;
	min-height:341px;
	width:66%;
	min-width:499px;
	margin:25px auto;
	background:url(../image/infblock.png) no-repeat center/contain;
}

.MiniPage{
	position:absolute;
	display:flex;
	height:100%;
	width:94%;
	/* min-width:499px; */
	left:3%;
}

.WikiText{
	position:absolute;
	height:50%;
	width:95%;
	top:50%;
	left:3%;
}

.Title{
	font-size:2.5vw;
	text-align:center;
}

.MainText{
	text-indent: 1.5em;
	text-align:justify;
	font-size:2.4vw;
	padding:3%;
}

.TextImage{
	position:absolute;
	height:37%;
	width:28%;
	top:5%;
	left:35%;
	margin:auto;
}

.closebtn{
	position:absolute;
	height:22%;
	width:15%;
	left:3%;
	top:0%;
	background:url(../image/X-button.png) no-repeat center/contain; 
}

#close{
	position:absolute;
	height:42%;
	width:43%;
	left:27%;
	top:52%;
	cursor:pointer;
}

img{
	cursor:pointer;
	height:30%;
	width:18%;
	padding:12px;
	margin-left:15px;
	margin-top:30px;
	user-select:none;
	pointer-events: none;
}
