@media only screen
and (max-device-width: 420px){
	.wikiBoard{
		position:relative;
		height:100%;
		width:100%;
		margin: auto;
		background:url(images/androidWiki.svg) no-repeat center/contain;
	}
	#wikiPage{
		position:absolute;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-align:start;
		    -ms-flex-align:start;
		        align-items:flex-start;
		-ms-flex-line-pack:start;
		    align-content:flex-start;
		height:80%;
		width:100%;
		margin-top:-5%;
		background:url(images/and_green.svg) no-repeat center/contain;
	}

	#WikiMap{
		height:100%;
		width:90%;
		margin-top:15%;
		margin-left:5%;
	}

	#infoPage{
		height:85%;
		width:99%;
		top:5%;
		left:0%;
		font-size: 28px;
	}

	#closebtn{
		height:13%;
		width:12%;
		left:0%;
		top:-2.8%;
	}
		
	#btn{
		position:fixed;
		height:24%;
		width:14%;
		top:8%;
		/* margin:auto; */
		left:6%;
	}
	#icons{
		height:75%;
		width:100%;
/* 		margin-left:%; */
		margin-top:28%;
	}
	img{
		cursor:pointer;
		height:22%;
		width:22%;
		padding:0px;
		margin-top:8px;
		margin-left:18%;
		-webkit-user-select:none;
		   -moz-user-select:none;
		    -ms-user-select:none;
		        user-select:none;
	}

}

@media only screen
and (max-device-height: 360px){
#wikiPage{
	align-items:flex-start;
}


#icons{
		height:85%;
		width:100%;
		margin-top:10%;
		margin-left:5%;
	}
	img{
		cursor:pointer;
		height:30%;
		width:20%;
		padding:0px;
/* 		margin-top:8%; */
		margin-left:2%;
		user-select:none;
	}