@media only screen   /* Ð²ÐµÑ€Ñ‚Ð¸ÐºÐ°Ð»Ð½ÑŒÐ¾Ðµ Ð¿Ð¾Ð»Ð¾Ð¶ÐµÐ½Ð¸Ðµ*/
  /* and ( min-height:700px)  */
and (min-device-width: 320px)
and (max-device-width: 480px) {
  .top1{
    background-position: 5vw -5vh;
    animation: move none;
  }
  .top2{
    background-position: 30vw 5vh;
    animation: move none;
  }
  .down1{
  	background-position: 0vw 59vh;
/*     background-position: bottom; */
    animation: move none;
  }
   .down2{
  	background-position: -3vw 48vh;
/*     background-position: bottom; */
    animation: move none;
  }
  .cat{
    width:100px;
    height:100px;
    left:17px;
    top:15px;
  }
  .orb2{
    width: 130px;
    height: 130px;
  }
  .orb1{
    width: 190px;
    height: 190px;
  }
  .orbits{
    top:18%;
    left:-10%;
    transform:translate(0% 50%);
  }
  .planet1{
    width:40px;
    heigth:40px;
  }
  .planet2{
    width:35px;
    heigth:35px;
  }
  .planet3{
    width:33px;
    heigth:33px;
    left:33%;
    top:22%;
  }


  @keyframes movePlanet1{
	from {  transform: rotate(0deg) translateX(96px) rotate(0deg); }
	to {  transform: rotate(360deg) translateX(96px) rotate(-360deg); }
 	}
  
  @keyframes movePlanet2{
	from {  transform: rotate(0deg) translateX(65px) rotate(0deg); }
	to {  transform: rotate(360deg) translateX(65px) rotate(-360deg); }
	}

	@keyframes movePlanet3{
	from {  transform: rotate(180deg) translateX(65px) rotate(0deg); }
	to {  transform: rotate(540deg) translateX(65px) rotate(-360deg); }
	}

   
}

@media only screen		/* Ð³Ð¾Ñ€Ð¸Ð·Ð¾Ð½Ñ‚Ð°Ð»ÑŒÐ½Ð¾Ðµ Ð¿Ð¾Ð»Ð¾Ð¶ÐµÐ½Ð¸Ðµ*/
  /* and ( min-height:700px)  */
and (min-device-height: 320px)
and (max-device-height: 480px) {
  .top1{
  	animation: move none;
    background-position: 55vw -10vh;
  }

  .top2{
  	animation: move none;
    background-position: 55vw -10vh;
  }

  .down1{
/*     background-position: bottom; */
    animation: move none;
  }
  .cat{
    width:100px;
    height:100px;
    left:17px;
    top:15px;
  }
  .orb2{
    width: 130px;
    height: 130px;
  }
  .orb1{
    width: 190px;
    height: 190px;
  }
  .orbits{
    top:9%;
  }
  .planet1{
    width:40px;
    heigth:40px;
  }
  .planet2{
    width:35px;
    heigth:35px;
  }
  .planet3{
    width:33px;
    heigth:33px;
    left:35%;
    top:23%;
  }

  @keyframes movePlanet1{
	from {  transform: rotate(0deg) translateX(96px) rotate(0deg); }
	to {  transform: rotate(360deg) translateX(96px) rotate(-360deg); }
  }

  @keyframes movePlanet2{
	from {  transform: rotate(0deg) translateX(65px) rotate(0deg); }
	to {  transform: rotate(360deg) translateX(65px) rotate(-360deg); }
	}

	@keyframes movePlanet3{
	from {  transform: rotate(180deg) translateX(65px) rotate(0deg); }
	to {  transform: rotate(540deg) translateX(65px) rotate(-360deg); }
	} 
}

