@media only screen
and (min-device-width: 320px)
and (max-device-width: 420px){
	
	.wikiBoard{
		position:relative;
		height:100%;
		width:102%;
		margin: auto;
		margin-top:0%;
		margin-left:-1%;
		background:url(images/androidWiki.svg) no-repeat center/contain;
	}

	.backbtn{
		position:absolute;
		width:13%;
		height:13%;
		top:10%;
		left:27%;
		background:url(images/backmob.png) no-repeat center/contain;
	}

	#back{
		position:absolute;
		width:70%;
		height:65%;
		top:38%;
		cursor:pointer;
	}

	#wikiPage{
		position:absolute;
		flex-wrap: wrap;
		align-items:flex-start;
		align-content:flex-start;
		height:92%;
		width:100%;
		margin-top:-15%;
		margin-left:-1.5%;
		background:url(images/and_green.svg) no-repeat center/contain;
	}

	#WikiMap{
		height:100%;
		width:90%;
		top:10%;
		margin-left:5%;
	}
	
	#pin1{
		top:40%;
	}
	#pin2{
		top:51%;
	}
	#pin3{
		top:42%;
	}
	#pin4{
		top:52%;
	}

	#infoPage{
		height:85%;
		width:99%;
		top:5%;
		left:0%;
		font-size: 28px;
		background:url(images/infblockmob.png) no-repeat center/contain;
	}

	#closebtn{
		height:13%;
		width:12%;
		left:5%;
		top:3%;
	}

	.TextImage{
		position:absolute;
		height:35%;
		width:50%;
		top:62%;
		left:43%;
	}

	#btn{
		position:absolute;
		height:17%;
		width:17%;
		top:10.5%;
		margin:auto;
		left:5%;
	}
	#icons{
		height:75%;
		width:100%;
		/* 		margin-left:%; */
		margin-top:26%;
	}
	img{
		cursor:pointer;
		height:22%;
		width:22%;
		padding:0px;
		margin-top:8px;
		margin-left:18%;
		user-select:none;
	}

}


@media only screen
and (max-device-height: 360px){
#wikiPage{
	align-items:flex-start;
}


#icons{
		height:85%;
		width:100%;
		margin-top:10%;
		margin-left:5%;
	}
img{
		cursor:pointer;
		height:30%;
		width:20%;
		padding:0px;
		margin-left:2%;
		user-select:none;
}
