*{
	margin: 0;
	padding: 0;
}
 main{
	 width:100vw;
	 height:100vh;
 }
 
 section{
	height:100%;
 }
 
 
 
.wikiBoard{
	position:relative;
	height:100vh;
	width:100vh;
	/* top:10vh; */
	margin:auto;
	/* transform:translate(50%); */
	/* left:-10%; */
	background:url(images/DeskWiki.svg) no-repeat center/contain;
}
#wikiPage{
	display:flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	position:absolute;
	height:70%;
	width:100%;
	top:17%;
	animation:rotatePages 1.5s ease-in-out forwards;
	/* transform: rotate(90deg); */
    transform-origin: 7% 9%;
	background:url(images/slaud.svg) no-repeat center/contain; 
}
.button{
	position:absolute;
	height:7%;
	width:7%;
	top:20vh;
	margin:auto;
	left:3.5%;
	cursor:pointer;
	background:url(images/knopka2.png) no-repeat center/contain; 
}

img{
	height:22%;
	width:16%;
	/* top:2%; */
	margin-top:15%;
	/* margin-left: 15px; */
}

@keyframes rotatePages{
	from{transform:rotate(90deg);}
	to{transform:rotate(0deg);}
}


@media only screen
and (max-device-width: 420px){
	.wikiBoard{
		position:relative;
		height:100%;
		width:100%;
		margin: auto;
		background:url(images/androidWiki.svg) no-repeat center/contain;
	}
	.button{
		position:fixed;
		height:13%;
		width:13%;
		top:13vh;
		/* margin:auto; */
		left:7%;
	}
}
