*{
	margin: 0;
	padding: 0;
	
}
main{
	 width:100vw;
	 height:100vh;
	 overflow:hidden;
	 z-index:10;
}
 
section{
	height:100%;
}
  
h4{
	text-align:center; 
	font-size:40px; 
}

p{
	text-indent: 1.5em;
	margin-top:5%;
	text-align:justify;
}
  
.wikiBoard{
	position:relative;
	height:100vh;
	width:100vh;
	/* top:10vh; */
	margin:auto;
	/* transform:translate(50%); */
	/* left:-10%; */
/* 	overflow:hidden; */
	background:url(images/DeskWiki.svg) no-repeat center/contain;
}
#wikiPage{
	display:flex;
	flex-wrap: wrap;
/* 	justify-content: space-around; */
	align-items:flex-end;
	align-content:flex-start;
	position:absolute;
	height:70%;
	width:100%;
	top:16%;
	/* animation:rotatePages 1.5s ease-in-out forwards; */
	transform: rotate(90deg) scale(0);
    transform-origin: 7% 9%;
	background:url(images/deskgreen.svg) no-repeat center/contain; 
}

#WikiMap{
	position:absolute;
	height:60%;
	width:60%;
	margin-top:27.5%;
	margin-left:20%;
	/* transform:rotate(30deg); */
	background:url(images/map.png) no-repeat center/contain; 
}

#infoPage{
	position:relative;
	height:80%;
	width:110%;
	top:2%;
	left:-5%;
	border:2px solid black;
	text-align:justify;
	font-size: 30px;
	/* animation:SummonPages 1s ease-in-out forwards; */
	transform:scale(0);
	background:#fff;
	z-index:5;
}

#closebtn{
	position:absolute;
	height:10%;
	width:10%;
	left:-1.5%;
	cursor:pointer;
	background:url(images/knopka2.png) no-repeat center/contain; 
}


#btn{
	position:absolute;
	height:9.5%;
	width:9.5%;
	top:18.2vh;
	margin:auto;
	left:2.5%;
	cursor:pointer;
	background:url(images/button.png) no-repeat center/contain; 
}

#icons{
	height:80%;
	width:100%;
}

img{
	cursor:pointer;
	height:30%;
	width:18%;
	padding:12px;
	margin-left:15px;
	margin-top:30px;
	user-select:none;
	/* pointer-events: none; */
}

img:hover, #btn:hover, #closebtn:hover{
	transform:scale(1.1);
}

@keyframes rotatePages{
	from{transform:rotate(90deg) scale(0);}
	to{transform:rotate(0deg) scale(1);}
}
@keyframes rotatePagesRev{
	from{transform:rotate(0deg) scale(1);}
	to{transform:rotate(90deg) scale(0);}
}

@keyframes SummonPages{
	0% {
    transform: translate(0, -10vh);
    opacity: 0;
	}
  60% {
    transform: translate(0, 0vh);
    opacity: 0;
	}
  100% {
    transform: translate(0, 5vh);
  }
}
@keyframes SummonPagesRev{
	0% {
    transform: translate(0, 5vh);
    
	}
  60% {
    transform: translate(0, 0vh);
    opacity: 0;
	}
  100% {
    transform: translate(0, -60vh);
	opacity: 0;
  }
}



